
.remove-button {
  appearance: none;
  border: none;
  background: transparent;
  color: #615f5f;
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  margin: 0 auto;
  font-size: 30px;
  line-height: 32px;
  align-items: center;
  justify-content: center;
  outline: none;
  user-select: none;
}

.remove-button:focus {
  color: #c52a2a;
}

.remove-button:hover {
  color: red;
}

.remove-button:active {
  color: #b50000;
}
